table {
    border-collapse: collapse;
    clear: both;
    width: 450px;
    height: 450px;
	}

table td {
	
    padding: 0;
	width: 15px;
	line-height: 15px;
	height: 15px;
	/*background-color: #ECEFF5;*/
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	border: 1px solid #BFBFBF;
	cursor: default;
	box-sizing: border-box;

	}

td img